body {
    background: url("subtle_grunge_@2X.png")
}

.kslogo {
    background: #4aaaa5;
    font-size: 1.75rem;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.ksheader {
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: 600;
}


.ksnavbar {
    padding: 0px 0px 0px 0px;
}

.col-11 {
    padding-left:0px;
    padding-right: 0px;
}

.ksfooter {
    border-top: 8px solid #4aaaa5
}

.ksheaderbkgrd {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}
.kscontent {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 35px;
    font-size:1.125rem;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  line-height: 50px; /* Vertically center the text there */
  background-color: #666666;
  text-align: center;
  color: #cccccc;
}

.container {
    padding-left: 0px;
    padding-right:0px;
}



/*for contact page*/
.ksinputtext {
    font-size: .8rem;
}

.kssubmitbut {
    background-color: #4aaaa5;
    color:#ffffff;
}
.kssubmitbut:hover {
    background-color: #5ACCC6;
}